 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
 *{
     list-style: none;
     text-decoration: none;
     margin: 10;
     padding: 10;
     box-sizing: border-box;
     font-family: 'open sans', sans-serif;
 }
 .body {
     background-color: rgb(248, 248, 248);
 }
 .wrapper .sidebar {
     background: rgb(5, 68, 104);
     position: fixed;
     top: 35px;
     left: 0;
     width: 150px;
     height: 100%;
     padding: 10px 0;
     transition: all 0.5s ease;
 }
 .wrapper .sidebar .profile {
     margin-bottom: 30px;
     text-align: center;
 }
 .wrapper .sidebar .profile img {
     margin-bottom: 30px;
     text-align: center;
     display: block;
     width: 100px;
     height: 100px;
     border-radius: 50%;
     margin: 0 auto;
 }
 .wrapper .sidebar .profile h3 {
     color: #fff;
     margin: 5px 0 5px;
 }
 .wrapper .sidebar .profile p {
     color: #fff;
     margin: 5px 0 5px;
 }
 .wrapper .sidebar ul li a{
    display: block;
    padding: 10px 30px;
    border-bottom: 3px solid rgb(146, 142, 142);
    color:#fff;
    font-size: 10px;
}
.wrapper .sidebar ul li a .icon{
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding-right: 0px;
}
/* .wrapper .sidebar ul li a .item{
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding-right: 10px;
} */
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    color:darkblue;
    background: white;
    border-right: 2px solid rgb(5,68,104);
}